@include font-face('Raleway', "../fonts/ralewayregular", $regular, normal);
@include font-face('Raleway', "../fonts/ralewaysemibold", $bold, normal);
@include font-face('Raleway', "../fonts/ralewaylight", $thin, normal);
@include font-face('TTMoons', "../fonts/TTMoons-Thin", $regular, normal);

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: 15px;
}