$black: #000000;
$green: green;

// fonts
$font-family: Raleway;
$font-moon-family: TTMoons;
$fallback-font: Arial, Helvetica, sans-serif;

$thin: 300;
$light: 400;
$regular: normal;
$medium: 500;
$bold: bold;

// breakpoints
$laptop: 1279px;
$tablet: 1023px;
$phone: 767px;
$phone-xs: 320px;