- var title = 'title'

//- layout.pug
html(lang="en")
  head
    meta(charset="utf-8")

    title My Site - #{title}
    meta(name="description" content="The HTML5 Herald")
    block scripts
      script(src='../../js/index.js')
    block styles
      link(rel="stylesheet" href="../../styles/styles.scss")
  body
    block content
    block foot
      #footer
        p some footer content