- var title = 'title'

//- layout.pug
html(lang="en")
  head
    meta(charset="utf-8")

    title Nail This тренажер английского языка
    meta(name="description" content='Скажи "Goodbye" неловкости в английском с разговорным тренажером Nail this')
    meta(name="viewport" content="minimal-ui")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1")
    meta(name="google-site-verification" content="6lgFhNrIVlzR05h_Ln7tnqiW0h6jL2hyDxzIJhjAhFI")
    link(rel='shortcut icon' type='image/x-icon' href='/favicon.png')
    block scripts
      script(src='../../js/index.js')
    block styles
      link(rel="stylesheet" href="../../styles/styles.scss")
  body
    block content
    block foot
      #footer